<%- partial ('../partials/navbar-admin.ejs')%>
<div class="row content">
		<div class="col-lg-2 col-md-2 visible-desktop">
		<ul class="nav nav-pills nav-stacked">
			<li><a href='/administrator#/dash'>Dashboard</a></li>
			<li><a href='/administrator#/minds'>Minds</a></li>
			<li><a href='/administrator#/stats'>Stats</a></li>
			<li><a href='/administrator#/sensors'>Sensors</a></li>
		</ul>
	</div>
	<div class="visible-phone">
		<ul class="nav nav-pills">
			<li><a href='/administrator#/dash'>Dashboard</a></li>
			<li><a href='/administrator#/minds'>Minds</a></li>
			<li><a href='/administrator#/stats'>Stats</a></li>
			<li><a href='/administrator#/sensors'>Sensors</a></li>
		</ul>
	</div>
	<div class="col-lg-10 col-md-10" ng-view></div>
</div>
