# Vagrant files
.vagrant/

#ZF2 ignore
nbproject
._*
.~lock.*
.buildpath
.DS_Store
.idea
.project
.settings
composer.lock
vendor/bin
.kitchen
*.lock
.*~
tests/build/*
*.xcf
data
/README.md~
/.tmp
/config/local.js
/npm-debug.log
/coverage/
/node_modules/karma-brackets/
/assets/coverage/
/travis.log
/node_modules/karma/
/node_modules/karma-coverage/
/node_modules/jasmine-core/
/node_modules/karma-jasmine/
/node_modules/karma-chrome-launcher/
/node_modules/karma-firefox-launcher/
/node_modules/karma-phantomjs-launcher/
/node_modules/mocha/
/node_modules/istanbul/
/node_modules/grunt-mocha-istanbul/
/node_modules/supertest/
/node_modules/superagent/
/node_modules/rewire/
/node_modules/sinon/
/node_modules/assert/
/node_modules/should/
/node_modules/.bin/_mocha
/node_modules/.bin/istanbul
/node_modules/.bin/mocha
/node_modules/grunt-mocha-test/
/node_modules/moment-timezone/
/assets/bower_components/core-ajax/
/assets/bower_components/core-component-page/
/assets/bower_components/core-header-panel/
/assets/bower_components/core-icon/
/assets/bower_components/core-icon-button/
/assets/bower_components/core-icons/
/assets/bower_components/core-iconset/
/assets/bower_components/core-iconset-svg/
/assets/bower_components/core-media-query/
/assets/bower_components/core-meta/
/assets/bower_components/core-shared-lib/
/assets/bower_components/core-toolbar/
/assets/bower_components/polymer/
/assets/bower_components/webcomponentsjs/
/assets/bower_components/angular-moment/
/assets/bower_components/google-apis/
/assets/bower_components/google-chart/
/assets/bower_components/angular/
/assets/bower_components/
/assets/bower_components/angular-route/
/assets/bower_components/angular-ui-router/
/assets/bower_components/bootstrap/
/assets/bower_components/angular-resource/
/assets/bower_components/angular-mocks/
/assets/bower_components/angular-local-storage/
/assets/bower_components/angular-google-chart/
/assets/bower_components/angular-bootstrap/
/assets/bower_components/ng-table/
/assets/bower_components/moment/
/assets/bower_components/jquery/
