# Vagrant files
.vagrant/

#ZF2 ignore
nbproject
._*
.~lock.*
.buildpath
.DS_Store
.idea
.project
.settings
composer.lock
vendor/bin
.kitchen
*.lock
.*~
tests/build/*
*.xcf
data
/README.md~
/.tmp
/config/local.js
/npm-debug.log
/coverage/
/node_modules/karma-brackets/
/assets/coverage/
/travis.log
/node_modules/karma/
/node_modules/karma-coverage/
/node_modules/jasmine-core/
/node_modules/karma-jasmine/
