<!DOCTYPE html>
<html ng-app="mindmeteo">
  <head>
    <title>Mind Meteo</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<script src="bower_components/webcomponentsjs/webcomponents.min.js"></script>-->
    <!-- Default home page -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/styles/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/mindmeteo.css">
    <link rel="stylesheet" href="/styles/navbar-mind.css">
    <link rel="stylesheet" href="/styles/report-list.css">
  </head>

 	<body id="top">
      <div class="container">
        <%- body %>
      </div>


    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->

      <script src="/js/dependencies/sails.io.js"></script>
      <script src="/bower_components/jquery/dist/jquery.min.js"></script>
      <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="/bower_components/angular/angular.min.js"></script>
      <script src="/bower_components/angular-route/angular-route.min.js"></script>
      <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
      <script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
      <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
      <script src="/bower_components/moment/min/moment-with-locales.min.js"></script>
      <script src="/bower_components/angular-moment/angular-moment.min.js"></script>
      <script src="/bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
      <script src="/bower_components/ng-table/ng-table.min.js"></script>
      <script src="/bower_components/angular-google-chart/ng-google-chart.js"></script>
      <script src="/bower_components/spin.js/spin.js"></script>
      <script src="/bower_components/angular-spinner/angular-spinner.js"></script>
      <script src="/bower_components/snapjs/snap.js"></script>
      <script src="/bower_components/angular-snap/angular-snap.js"></script>
      <script src="/bower_components/ng-flow/dist/ng-flow-standalone.js"></script>
      <script src="/js/mindmeteo/app.js"></script>
      <script src="/js/modules/session.js"></script>
      <script src="/js/modules/dashboard.js"></script>
      <script src="/js/modules/flashMsg.js"></script>
      <script src="/js/modules/mind.js"></script>
      <script src="/js/modules/sensor.js"></script>
      <script src="/js/modules/report.js"></script>
      <script src="/js/modules/stats.js"></script>
      <script src="/js/modules/i18n.js"></script>
      <script src="/js/modules/timezone.js"></script>
      <script src="/js/modules/climate.js"></script>
      <script src="/js/modules/emocicones.js"></script>
      <script src="/js/modules/statement.js"></script>
      <script src="/js/modules/helper.js"></script>
  </body>
</html>
