<!DOCTYPE html>
<html ng-app="mindmeteo">
  <head>
    <title>Mind Meteo</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<!--<script src="bower_components/webcomponentsjs/webcomponents.min.js"></script>-->
		<!-- Default home page -->
		<link type="text/css" href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet'/>

    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/admin/main.css">
    <link rel="stylesheet" href="/styles/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/styles/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/mindmeteo.css">
    <!--STYLES END-->
  </head>

 	<body id="top">

		<div class="container">

			<%- body %>
			<hr>
			<footer>
				<p>&copy; developped by devitito</p>
			</footer>
		</div> <!-- /container -->

    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->

    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/bower_components/webcomponentsjs/webcomponents.min.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/bower_components/ng-table/ng-table.min.js"></script>
    <script src="/bower_components/angular-google-chart/ng-google-chart.js"></script>
    <script src="/bower_components/moment/min/moment-with-locales.min.js"></script>
    <script src="/bower_components/angular-moment/angular-moment.min.js"></script>
    <script src="/bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/Directives/adminDirectives.js"></script>
    <script src="/js/Services/adminServices.js"></script>
    <script src="/js/Services/cache.js"></script>
    <script src="/js/Services/climateChart.js"></script>
    <script src="/js/Services/emocicones.js"></script>
    <script src="/js/Services/flash.js"></script>
    <script src="/js/Services/identity.js"></script>
    <script src="/js/Services/lang.js"></script>
    <script src="/js/Services/records.js"></script>
    <script src="/js/Services/reports.js"></script>
    <script src="/js/Services/sensors.js"></script>
    <script src="/js/Services/session.js"></script>
    <script src="/js/Services/statements.js"></script>
    <script src="/js/Services/stats.js"></script>
    <script src="/js/Services/tableHelper.js"></script>
    <script src="/js/admin/Controller/Mind/EditController.js"></script>
    <script src="/js/admin/Controller/Mind/MindsController.js"></script>
    <script src="/js/admin/Controller/Mind/NewController.js"></script>
    <script src="/js/admin/Controller/NavBar/NavBarController.js"></script>
    <script src="/js/admin/Controller/Sensor/EditController.js"></script>
    <script src="/js/admin/Controller/Sensor/NewController.js"></script>
    <script src="/js/admin/Controller/Sensor/SensorsController.js"></script>
    <script src="/js/admin/Reports/list/ListController.js"></script>
    <script src="/js/admin/Reports/new/NewController.js"></script>
    <script src="/js/admin/adminController.js"></script>
    <script src="/js/components/modals/confirm/ConfirmController.js"></script>
    <script src="/js/components/modals/record/recordController.js"></script>
    <script src="/js/guest/Controller/Mind/NewController.js"></script>
    <script src="/js/guest/Controller/Session/NewController.js"></script>
    <script src="/js/guest/Controller/guestController.js"></script>
    <script src="/js/mind/Controller/DashboardController.js"></script>
    <!--SCRIPTS END-->

		<!--<script src="/js/app.js"></script>
		<script src="/js/Services/adminServices.js"></script>
		<script src="/js/Services/identity.js"></script>
		<script src="/js/Services/lang.js"></script>
		<script src="/js/Services/flash.js"></script>
		<script src="/js/Services/stats.js"></script>
		<script src="/js/Services/cache.js"></script>
		<script src="/js/Services/session.js"></script>
		<script src="/js/Services/sensors.js"></script>
		<script src="/js/Services/statements.js"></script>
		<script src="/js/Services/records.js"></script>
		<script src="/js/Services/reports.js"></script>
		<script src="/js/Services/climateChart.js"></script>
		<script src="/js/Services/tableHelper.js"></script>
		<script src="/js/Services/emocicones.js"></script>

		<script src="/js/Directives/adminDirectives.js"></script>

		<script src="/js/admin/adminController.js"></script>
    <script src="/js/admin/Controller/Sensor/SensorsController.js"></script>
    <script src="/js/admin/Controller/Sensor/EditController.js"></script>
		<script src="/js/admin/Controller/Sensor/NewController.js"></script>
		<script src="/js/admin/Controller/Mind/EditController.js"></script>
		<script src="/js/admin/Controller/Mind/MindsController.js"></script>
		<script src="/js/admin/Controller/Mind/NewController.js"></script>
		<script src="/js/admin/Controller/Mind/NewController.js"></script>
		<script src="/js/admin/Controller/Mind/EditController.js"></script>
    <script src="/js/admin/Controller/Mind/MindsController.js"></script>
		<script src="/js/admin/Controller/NavBar/NavBarController.js"></script>
		<script src="/js/admin/Reports/list/ListController.js"></script>
		<script src="/js/admin/Reports/new/NewController.js"></script>
		<script src="/js/guest/Controller/guestController.js"></script>
		<script src="/js/guest/Controller/Session/NewController.js"></script>
		<script src="/js/guest/Controller/Mind/NewController.js"></script>

		<script src="/js/mind/Controller/DashboardController.js"></script>

		<script src="/js/components/modals/record/recordController.js"></script>
		<script src="/js/components/modals/confirm/ConfirmController.js"></script>-->


  </body>
</html>
