<!DOCTYPE html>
<html ng-app="welcome">
  <head>
    <title>Mind Meteo</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<script src="bower_components/webcomponentsjs/webcomponents.min.js"></script>-->
    <!-- Default home page -->
    <link type="text/css" href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet'/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/admin/main.css">
    <link rel="stylesheet" href="/styles/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/styles/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/mindmeteo.css">
  </head>

 	<body id="top">
      <div class="container">
        <%- body %>
      </div>


    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->
      <!--TEMPLATES-->
      <script type="text/javascript" src="/jst-welcome.js"></script>
      <!--TEMPLATES END-->

      <!--SCRIPTS-->
      <script src="/min/production.welcome.min.js"></script>
      <!--SCRIPTS END-->
  </body>
</html>
