<div class="col-lg-10">
	<br>
	<button ng-click="recover();" class="btn btn-meteo">Recover unidexed records</button><span>{{recovery_date}}</span>
	<hr>
	<p>Node : zs7-ubuntu-1404</p>
	<ul>
		<p>Services :</p>
		<li>Apache : vXXX, Status: running</li>
		<li>MySQL : vXXX, Status: running</li>
		<li>PHP : vXXX, Status: running</li>
		<li>Elasticsearch : vXXX, Status: running</li>
	</ul>
	<p>Node : XXX</p>
	<ul>
		<p>Services :</p>
		<li>Apache : vXXX, Status: running</li>
		<li>MySQL : vXXX, Status: running</li>
		<li>PHP : vXXX, Status: running</li>
		<li>Elasticsearch : vXXX, Status: running</li>
	</ul>
</div>
