<div class="col-lg-10">
	<a href="minds/new" type="button" class="btn btn-meteo">Create a mind</a>
	<br><br>
	
	<div ng-hide="error">
		<table id="mindlist" class="table table-hover">
			<thead>
		        <tr>
		          <th>Name</th>
		          <th>Join Date</th>
		          <th>Role</th>
		          <th>Language</th>
		        </tr>
		      </thead>
		      <tbody>
				<tr ng-repeat="mind in minds" ng-click="go('/minds/edit/'+ mind.id)">
					<td>{{mind.name}}</td>
					<td>{{mind.joindate}}</td>
					<td>{{mind.role}}</td>
					<td>{{mind.lang}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div ng-show="error">
		<span>{{error}}</span>
	</div>
</div>
