<!-- Default home page -->
<link type="text/css" href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet'/>

<%- partial ('partials/navbar-logged-out.ejs')%>
<div class="site-wrapper">
	<div class="container text-center">
		
	   <p style="font-family: 'Gloria Hallelujah', cursive; font-size:40px;">
	   	Spend more time enjoying yourself and less time trying to make your life interesting.<br> We do it for you!
	   </p>
	   <p style="font-family: 'Gloria Hallelujah', cursive; font-size:55px;">
	   	Based on a true story: your life!
	   	</p>
	    <img src="/images/logo.png">
	    <br> <br>
	    <p style="font-family: 'Gloria Hallelujah', cursive; font-size:20px;">
	    	Our fully qualified meteorologsits will issue reports for you, and then... just address them to whoever you want:<br>your lover,<br>your mama,<br> your friends,<br>your boss....
	    </p>
	   <br>
	   	<form id="demo-login" method="post" action="/session/create">
			<input type="hidden" name="nameoremail" value="demo" />
			<input type="hidden" name="password" value="demodemo" />
			<input type="hidden" name="_csrf" value="<%= _csrf %>" />
			<input type="submit" name="submitlogin" value="Take a tour now!" class="btn btn-meteo btn-lg" />
		</form>
		<hr class="featurette-divider">
	   <div class="row featurette">
         <div class="col-md-8">
          <h2 class="featurette-heading" style="font-family: 'Gloria Hallelujah', cursive;">1. <span class="text-muted" style="font-family: 'Gloria Hallelujah', cursive;">Let our sensor mesure the meteo inside your mind</span></h2>
          <p class="lead">Answer a couple of our offbeat questions with our application. It is really easy to use. Soon it's sense of humour will make it your best friend!
          <br>And hey! We are so cool that we let you use our questions during your dinner in town: success garantee and free of royalties.
          <br>Thanks who?!</p>
        </div>
         <div class="col-md-1"></div>
        <div class="col-md-3">
          <img src="/images/placeholder.png" class="featurette-image">
        </div>
      </div>
      
       <div class="row featurette">
        <div class="col-md-3">
        	<img src="/images/placeholder.png" class="featurette-image img-responsive" data-src="holder.js/300x300/auto" alt="300x300">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-8">
           <h2 class="featurette-heading" style="font-family: 'Gloria Hallelujah', cursive;">2. <span class="text-muted" style="font-family: 'Gloria Hallelujah', cursive;">Our meteologists will cook a weather report for whoever you want</span></h2>
           <p class="lead">Our team of dedicated meteo specialists will analyse your data and show your life in a new light. 
           <br>You think nothing happens in your life? Trust our scientifics, they are scientifics, they'll extract a gold mine of informations from irrelevant facts. 
           <br>You think this is the job of your life? You can join them!
          <br>Thanks who?!</p>
        </div>
      </div>
      
        <div class="row featurette">
         <div class="col-md-8">
          <h2 class="featurette-heading" style="font-family: 'Gloria Hallelujah', cursive;">3. <span class="text-muted" style="font-family: 'Gloria Hallelujah', cursive;">Enjoy!!</span></h2>
          <p class="lead">Everybody wants to be your friend, everybody wants to hangout with a guy that have a thousand adventure a day.
          <br>Your mama is happy, girls love you, you are popular and it didn't cost you a penny and it took the time to click on a button. What a ROI for answering a couple of questions a day!
          <br>Thanks who?!</p>
        </div>
         <div class="col-md-1"></div>
        <div class="col-md-3">
          <img src="/images/placeholder.png" class="featurette-image">
        </div>
      </div>
      
	</div>
</div>
