<div ng-controller="adminNavBarCtrl" ng-include src="'../templates/administrator/navbar-admin.html'"></div>
<div class="row content">
	<div class="col-lg-2 col-md-2 visible-desktop">
		<ul class="nav nav-pills nav-stacked" ng-include src="'../templates/administrator/admin-menu.html'"></ul>
	</div>
	<div class="visible-phone">
		<ul class="nav nav-pills" ng-include src="'../templates/administrator/admin-menu.html'"></ul>
	</div>
	<div class="col-lg-10 col-md-10">

		<div ng-hide="error">
		 <form novalidate>
			<h1>Edit sensor ({{sensor.id}})</h1>
				<div class="row">
					<div class="from-group col-lg-6">
						<label class="form-label">Created on : </label>
						<span id="createdOn">{{sensor.createdOn}}</span>
					</div>
				</div>
				<div class="row">
					<div class="from-group col-lg-6">
						<label class="form-label" for="status">Status : </label>
						<select class="form-control input-lg" id="status" required="true" ng-model="sensor.status" ng-options="status.code as status.name for status in statusList"></select>
					</div>
				</div>
				<div class="row">
					<div class="from-group col-lg-6">
						<label class="form-label" for="meteologist">Meteologist : </label>
						<input class="form-control input-lg" id="meteologist" type="text" required="true" ng-model="sensor.meteologist"></input>
					</div>
				</div>
				<div class="row">
					<div class="from-group col-lg-6">
						<label class="form-label" for="label">Label : </label>
						<textarea class="form-control input-lg" id="label" required="true" ng-model="sensor.label"></textarea>
					</div>
				</div>
				<h2>Samples</h2>
				<div class="row">
					<div class="from-group col-lg-6" ng-repeat="sample in sensor.samples">
						<label class="form-label">Sample label : </label>
						<input class="form-control input-lg" type="text" required="true" ng-model="sample.label"></input>
						<label class="form-label">Sample value : </label>
						<input class="form-control input-lg" type="text" required="true" ng-model="sample.value"></input>
						<label class="form-label">Report format (en) : </label>
						<!--<input class="form-control input-lg" type="hidden" required="true" ng-model="sample.report_format" ng-init="sample.report_format = [{lang: 'en', translation: null}]"></input>-->
						<input class="form-control input-lg" type="text" required="true" ng-model="sample.report_format"></input>
					</div>
				</div>
				<br>
				<div class="form-actions">
					<button ng-click="go('/sensors')" class="btn btn-default">Cancel</button>
					<button ng-click="update()" class="btn btn-meteo">Update</button>
					<button ng-click="delete()" class="btn btn-warning">Delete</button>
				</div>
			</form>
		</div>


	</div>
</div>
