<div ng-include src="'js/mind/partials/navbar-mind.html'"></div>

<div class="container">

	<div class="row">
		<div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
			<a href="/mind/account">
				<img class="img-responsive center-block" src="/images/placeholder.png">
			</a>
		</div>

		<div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
			<div class="row"><h1>Hi {{identity.name}}!</h1></div>
			<div class="row">
				<h3>How are you today? <button class="btn btn-meteo" ng-click="record()">Let's find out!</button></h3>
			</div>
			<div class="row">
				<alert ng-show="processing" type="info"><h4>Our meteologists are analysing this new set of data. Their reports will be ready in a minute...</h4></alert>
				<alert ng-show="error" type="danger"><h4>{{error}}</h4></alert>
			</div>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
			<tabset vertical="true" type="pills">
				<tab ng-click="openClimate()">
					<tab-heading class="text-center">My climate</tab-heading>
				</tab>
				<tab ng-click="openReportList()">
					<tab-heading>My reports <span ng-show="newReports" class="text-danger"> *</span></tab-heading>
				</tab>
				<!--tab heading="Raw Data"><div ng-include="'js/mind/partials/measurements.html'"></tab>
				<tab heading="Alerts"><p>List of marking events, or events to come in the agenda (big party, date, pay day...)</p>
					<p>(storms, take a day off: great sun)</p></tab>
				<tab heading="Similar minds"><p>friends (following the same meteo trends) Similar meteo systems</p></tab>
				<tab ng-click="openReportList()">
					<tab-heading>Your contributions</tab-heading>
				</tab>
				<tab ng-click="openReportList()">
					<tab-heading>Your preferences</tab-heading>
				</tab-->
			</tabset>
		</div>
		<div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
			<div ng-if="show == 'climate'" ng-include="'js/mind/partials/climate.html'"></div>
			<div ng-show="show == 'reports'" ng-include="'js/mind/partials/reports-list.html'"></div>
		</div>
	</div>
</div>
