<nav class="navbar navbar-default navbar-fixed-top navbar-mind" role="navigation">
	<div class="container">
		<div>
			<ul class="nav navbar-nav navbar-left">
				<!--<li><img class="img-responsive img-mind-profile" src="/images/placeholder.png"></li>-->
				<li>
					<p class="navbar-mind-text">Hi {{identity.name}}!</p>
					<p class="navbar-mind-text">What we can do for you?</p>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
		  			<li><!--<img class="img-responsive img-mind-profile"
										 src="/images/navigate-left.png"
										 popover="Quick!"
										 popover-trigger="mouseenter"
										 popover-placement="bottom"
										 snap-toggle="right">-->
							<div class="btn-lg btn-meteo navbar-btn clickable"
									 snap-toggle="right"
									 popover="I'll tell you what you can do!"
									 popover-trigger="mouseenter"
									 popover-placement="bottom"
									 popover-append-to-body=true>
								<span>...</span>
							</div>

					</li>

					<!--	<li>
							<p class="navbar-text">{{identity.name}}</p>
						</li>
		        <li>

							<div class="navbar-btn clickable">
								<span ng-click="logout()"
											class="navbar-btn navbar-link glyphicon glyphicon-log-out"
											popover="Logout"
											popover-trigger="mouseenter"
											popover-placement="bottom">
								</span>
							</div>
				</li>-->
			</ul>
		</div>
	</div>
</nav>
