<div class="navbar-wrapper">
	<div class="container">
		<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		  <div class="container">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="brand img-circle" href="/#/"></a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <form class="navbar-form navbar-left" role="search">
		        <div class="form-group">
		          <input type="text" class="form-control" placeholder="Search">
		        </div>
		        <button type="submit" class="btn btn-meteo">Submit</button>
		      </form>
		      <ul class="nav navbar-nav navbar-right">
		      <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contribute <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		            <li><a href="#" id="sensor-contribution-button">Send us a new sensor</a></li>
		            <li><a href="#" id="anaylse-contribution-button">Send us a new weather analyse</a></li>
		          </ul>
		        </li>
		        <li>
		          <a href="#" class="glyphicon glyphicon-map-marker tooltip-link" id="sensor-test-button" data-toggle="tooltip" data-placement="left" title="Record meteo data of your mind"></a>
		        </li>
		        <li>
		          <a href="#" class="glyphicon glyphicon-envelope tooltip-link"  data-toggle="tooltip" data-placement="left" title="Generate a weather report of your mind"></a>
		        </li>
						<li>
							<a href='mind/profile/{{identity.id}}'>{{identity.name}}</a>
						</li>
		        <li>
		          <a href="/session/destroy" class="glyphicon glyphicon-log-out"></a>
		        </li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</div>
	</div>
</div>
