<nav class="navbar navbar-default navbar-fixed-top navbar-mind" role="navigation">
	<div class="container">
		<div>
			<ul class="nav navbar-nav navbar-left">
				<!--<li><img class="img-responsive img-mind-profile" src="/images/placeholder.png"></li>-->
				<li>
					<p class="navbar-mind-text">Hi {{identity.name}}!</p>
					<p class="navbar-mind-text">What we can do for you?</p>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
                <li>
                    <div class="btn-lg btn-meteo navbar-btn clickable" snap-toggle="right">
                        <span>...</span>
                    </div>
                    <!--<div class="btn-lg btn-meteo navbar-btn clickable"
                            snap-toggle="right"
                            popover="I'll tell you what you can do!"
									 popover-trigger="mouseenter"
									 popover-placement="left"
									 popover-append-to-body=true>
								<span>...</span>
							</div>-->
                </li>
			</ul>
		</div>
	</div>
</nav>
