<!-- cf http://www.doctrine-project.org/jira/browse/DDC-2190 -->
<!--<h3 class="text-center">The recent weather reports of your mind</h3>-->

<!--<div class="text-center" ><h4>Not available yet.</h4></div>-->

<!--<div class="clearfix"></div>-->

<div ng-show="!tableParams.data.length" class="text-center"><h4>No Reports generated yet. Capture some meteo data first.</h4></div>
<div ng-show="tableParams.data.length" loading-container="tableParams.settings().$loading">

	<table  ng-table="tableParams" class="table table-hover">
		<tr class="clickable" ng-repeat="statement in $data" ng-click="ViewStatement(statement.id)">
			<td data-title="'Title'" style="with:20%;">
				<span ng-class="{'read': !statement.notread, 'not-read': statement.notread}">{{statement.report.title}}</span>
			</td>
			<td data-title="'Category'">
				<span ng-class="{'read': !statement.notread, 'not-read': statement.notread}">{{statement.report.category}}</span>
			</td>
			<td data-title="'Created On'">
				<span ng-class="{'read': !statement.notread, 'not-read': statement.notread}">{{statement.createdAt | amDateFormat:'LL'}}</span>
			</td>
			<td data-title="'Meteologist'">
				<span ng-class="{'read': !statement.notread, 'not-read': statement.notread}">{{statement.report.meteologist.name}}</span>
			</td>
		</tr>
	</table>

</div>
