<div ng-show="sentConfirm">
	<alert type="info" style="margin-top:5px;">{{sentConfirm}}</alert>
</div>

<div ng-show="editedStatement" class="row content">
	<!--<div class="visible-desktop">-->
	<section class="panel panel-statement">
		<div class="panel-heading">
			<!--<div class="row">
				<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
					<span class="pull-right">From: </span>
				</div>
				<div class="col-lg-11 col-md-10 col-sm-10 col-xs-9">
					<span>{{identity.email}}</span>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
					<span class="pull-right">To: </span>
				</div>
				<div class="col-lg-11 col-md-10 col-sm-10 col-xs-9">
					<input class="form-control input-sm"></input>
				</div>
			</div>-->
			<div class="row">
				<!--<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
					<span class="pull-right">Subject: </span>
				</div>-->
				<div class="col-lg-11 col-md-10 col-sm-10 col-xs-9">
					<span>{{editedStatement.report.title}}</span>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<form role="form">
    		<div class="form-group">
					<textarea class="form-control" rows="15">{{editedStatement.body}}</textarea>
				</div>

			</form>
			<!--<button ng-click="sendStatement()" class="btn btn-meteo pull-right">Send!</button>-->
			<button ng-click="close()" class="btn btn-meteo pull-right">Close</button>
		</div>
	</div>


	</section>
<!--	<div class="visible-phone">
	</div>-->
</div>

<div ng-show="!tableParams.data.length" class="text-center"><h4>No Reports generated yet. Capture some meteo data first.</h4></div>
<div ng-show="tableParams.data.length">

	<table  ng-table="tableParams" class="table table-hover table-statement">
		<tr class="clickable" ng-repeat="statement in tableParams.data" ng-click="ViewStatement(statement)">
			<td>
				<div class="statement-wrapper">
				<div class="row-fluid statement">
					<div class="span2 statement-picture content-center">
						<img ng-src='{{getImgByCategory(statement.report.category)}}'
								 popover='{{getCategoryLabel(statement.report.category)}}'
								 popover-trigger="mouseenter">
					</div>
					<div class="span2 content-center emocicones"
							 popover='{{getMoodRangeLabel(statement.report.range)}}'
							 popover-trigger="mouseenter">
						{{getEmocicone(statement.report.range)}}
					</div>
					<div class="span2 statement-info">
						<small>{{statement.createdAt | amDateFormat:'LL'}}</small>
						<div>
							<span>{{statement.report.meteologist.name}}</span>
						</div>
					</div>
					<div class="span6">
						<h2>{{statement.report.title}}</h2>
					</div>
				</div>
				</div>
			</td>
			<!--<td data-title="'Title'">
				<span ng-class="{'read': !statement.notread, 'not-read': statement.notread}">{{statement.report.title}}</span>
			</td>
			<td data-title="'Category'">
				<span ng-class="{'read': !statement.notread, 'not-read': statement.notread}">{{statement.report.category}}</span>
			</td>
			<td data-title="'Created On'">
				<span ng-class="{'read': !statement.notread, 'not-read': statement.notread}">{{statement.createdAt | amDateFormat:'LL'}}</span>
			</td>
			<td data-title="'Meteologist'">
				<span ng-class="{'read': !statement.notread, 'not-read': statement.notread}">{{statement.report.meteologist.name}}</span>
			</td>-->
		</tr>
	</table>

</div>
