<div ng-controller="adminNavBarCtrl" ng-include src="'../templates/administrator/navbar-admin.html'"></div>
<div class="row content">
	<div class="col-lg-2 col-md-2 visible-desktop">
		<ul class="nav nav-pills nav-stacked" ng-include src="'../templates/administrator/admin-menu.html'"></ul>
	</div>
	<div class="visible-phone">
		<ul class="nav nav-pills" ng-include src="'../templates/administrator/admin-menu.html'"></ul>
	</div>
	<div class="col-lg-10 col-md-10">
		<br>
		<a href="#/sensors/new" type="button" class="btn btn-meteo">Create a new sensor</a>
		<hr>
		<section id="search_container" class="active">
			<form novalidate="novalidate" id="blog_search" role="search" ng-submit="doFilter()">
				<div class="blog_search-wrapper">
					<input id="s" name="s" class="form-control input-lg search_term valid" placeholder="search" type="text"
							autocomplete="off"
							ng-model="filterTxt"
							ng-keyup="suggest($event)">
					<ul id="results" style="display: block;" ng-show="suggestions.length">
						<li ng-repeat="suggestion in suggestions"><a class="selected" href="#/sensors/edit/{{suggestion._source.id}}">
							<h4><span><strong>{{suggestion._source.topic}} </strong></span>» {{suggestion._source.label}}</h4>
						</a></li>
					</ul>
				</div>
			</form>
		</section>
		<div class="clearfix"></div>
			<div loading-container="tableParams.settings().$loading">
			<table ng-table="tableParams" class="table table-hover">
						<tr class="clickable" ng-repeat="sensor in $data" ng-click="go('/sensors/edit/'+sensor._source.id)">
								<td data-title="'Label'" style="with:20%;">
										<span>{{sensor._source.label}}</span>
								</td>
							<td data-title="'Positive Sample'">
										<span>{{sensor._source.samples[0].label}}</span>
								</td>
								<td data-title="'Pos. Sample val.'">
										<span>{{sensor._source.samples[0].value}}</span>
								</td>
								<td data-title="'Negative Sample'">
										<span>{{sensor._source.samples[1].label}}</span>
								</td>
								 <td data-title="'Neg. Sample val.'">
										<span>{{sensor._source.samples[1].value}}</span>
								</td>
								<td data-title="'Topic'">
										<span>{{sensor._source.topic}}</span>
								</td>
								<td data-title="'Meteologist'">
										<span>{{sensor._source.meteologist}}</span>
								</td>
								<td data-title="'Status'">
										<span>{{sensor._source.status}}</span>
								</td>
						</tr>
				</table>
			</div>


	</div>
</div>
