<div class="col-lg-10">
	<div class="col-lg-5" ng-hide="error">
	 <form>
		<h1>Edit mind ({{mind.name}})</h1>
			<div class="from-group">
				<label class="form-label">Join date : </label>
				<span id="joindate">{{mind.locale_joindate}}</span>
			</div>
			<div class="from-group">
				<label class="form-label" for="email">Email : </label>
				<input class="form-control input-lg" id="email" type="email" required="true" ng-model="mind.email"></input>
			</div>
			<div class="from-group">
				<label class="form-label" for="role">Role : </label>
				<select class="form-control input-lg" id="role" required="true" ng-model="mind.role" ng-options="role.code as role.name for role in roles"></select>
			</div>
			<div class="from-group">
				<label class="form-label" for="lang">Language : </label>
				<select class="form-control input-lg" id="locale" required="true" ng-model="mind.locale" ng-options="lang.code as lang.name for lang in langs"></select>
			</div>
			<!-- div class="from-group">
				<label class="form-label" for="timezone">Timezone : </label>
				<select class="form-control input-lg" id="timezone" required="true" ng-model="mind.timezone" ng-options="timezone for timezone in timezones"></select>
			</div-->
		<br>
		<div class="form-actions">	
			<button ng-click="go('/minds')" class="btn btn-default">Cancel</button>
			<button ng-click="update()" class="btn btn-meteo">Update Mind</button>
			<button ng-hide="isSelf" ng-click="delete()" class="btn btn-warning">Delete Mind</button>
		</div>
	</form>
	</div>
</div>
