.thumbnail-profile {
	max-width: 90px;
	max-height: 90px;
	line-height: 20px;
	margin-bottom: 5px;
}

.thumbnail-profile img {
	max-width: 100%;
	max-height: auto;
	vertical-align: middle;
}

.spaced {
	margin-left: 5px;
}
