<nav class="navbar navbar-default navbar-fixed-top navbar-mind" role="navigation">
	<div class="container">
		<div>
			<ul class="nav navbar-nav navbar-left">
				<li>
					<p class="navbar-mind-text">Our meteologists at your service.</p>

				</li>
			</ul>
		</div>
	</div>
</nav>

<div class="container statement-panel">

	<div class="row">
		<alert ng-show="processing" type="info"><h4>Our meteologists are working on your request. Their reports will be ready in a minute...</h4></alert>
		<alert ng-show="error" type="danger"><h4 ng-bind-html="error"></h4></alert>
	</div>

	<div ng-if="!editedStatement && !processing && !redirect" class="row">
		<h3>Please explain what you need!</h3>

		<div class="col-lg-6 col-md-6">
			<form novalidate name="newReportForm" autocomplete="off">

				<div class="from-group" ng-class="{'has-error': newReportForm.$dirty && newReportForm.recipient.$invalid, 'has-success': newReportForm.recipient.$valid}">
					<label class="control-label">Who is the lucky recipient of your thought?</label>
					<input class="form-control input-lg" id="recipient" name="recipient" type="text" required
								 ng-maxlength="64"
								 ng-model="options.recipient">
					</input>
					<div>
						<span class="text-danger" ng-show="newReportForm.recipient.$error.maxlength">Too long</span>
					</div>
				</div>
				<div class="from-group">
					<label class="control-label" for="category">Which is... </label>
						<select class="form-control input-lg" id="category" name="category" required
										ng-model="options.category"
										ng-options="category.code as category.name for category in categories">
						</select>
				</div>

				<br>
				<button ng-click="generate()" type="button" class="btn btn-meteo" ng-disabled="newReportForm.$invalid">Generate it!</button>
				<button ng-click="go('/dashboard/'+identity.name)" type="button" class="btn btn-default">Abort</button>

			</form>
	</div>
</div>

<div ng-if="editedStatement" class="row">
	<h3>Here are the conclusion of our meteologists</h3>

	<div class="panel panel-default">
		<div class="panel-heading">
			<!--<div class="row">
				<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
					<span class="pull-right">From: </span>
				</div>
				<div class="col-lg-11 col-md-10 col-sm-10 col-xs-9">
					<span>{{identity.email}}</span>
				</div>
			</div>-->

			<div class="row">
				<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
					<span class="pull-right"><b>Title: </b></span>
				</div>
				<div class="col-lg-11 col-md-10 col-sm-10 col-xs-9">
					<span>{{editedStatement.report.title}}</span>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
					<span class="pull-right"><b>Author: </b></span>
				</div>
				<div class="col-lg-11 col-md-10 col-sm-10 col-xs-9">
					<span>{{editedStatement.report.meteologist.name}}</span>
				</div>
			</div>
			<div class="row">
					<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
						<span class="pull-right"><b>Category: </b></span>
					</div>
					<div class="col-lg-11 col-md-10 col-sm-10 col-xs-9">
						<span>{{getCategoryLabel(editedStatement.report.category)}}</span>
					</div>
			</div>
			<div class="row">
					<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
						<span class="pull-right"><b>Range: </b></span>
					</div>
					<div class="col-lg-11 col-md-10 col-sm-10 col-xs-9">
						<span>{{getRangeLabel(editedStatement.report.range)}} &nbsp;&nbsp; {{getEmocicone(editedStatement.report.range)}} </span>
					</div>
			</div>
		</div>
		<div class="panel-body">
					<textarea style="width:100%;" readonly rows="15">{{editedStatement.body}}</textarea>
		</div>
	</div>

	<br>
	<button ng-click="go('/dashboard/'+identity.name)" class="btn btn-meteo pull-right">Thanks!</button>
</div>

		<div class="row">
			<hr>
			<footer>
				<p>&copy; developped by devitito</p>
			</footer>
		</div>
</div>
