<nav class="navbar navbar-default navbar-fixed-top navbar-mind" role="navigation">
	<div class="container">
		<div>
			<ul class="nav navbar-nav navbar-left">
				<li>
					<p class="navbar-mind-text">Our meteologists at your service.</p>

				</li>
			</ul>
		</div>
	</div>
</nav>

<div class="container statement-panel">

  <div class="row content">
	<!--<div class="visible-desktop">-->
	<section class="panel panel-statement">
		<div class="panel-heading">
			<!--<div class="row">
				<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
					<span class="pull-right">From: </span>
				</div>
				<div class="col-lg-11 col-md-10 col-sm-10 col-xs-9">
					<span>{{identity.email}}</span>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
					<span class="pull-right">To: </span>
				</div>
				<div class="col-lg-11 col-md-10 col-sm-10 col-xs-9">
					<input class="form-control input-sm"></input>
				</div>
			</div>-->
			<div class="row">
				<!--<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
					<span class="pull-right">Subject: </span>
				</div>-->
				<div class="col-lg-11 col-md-10 col-sm-10 col-xs-9">
					<span>{{statement.report.title}}</span>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<form role="form">
    		<div class="form-group">
					<textarea class="form-control" rows="15">{{statement.body}}</textarea>
				</div>

			</form>
			<!--<button ng-click="sendStatement()" class="btn btn-meteo pull-right">Send!</button>-->
			<button ng-click="close()" class="btn btn-meteo pull-right">Close</button>
		</div>
	</div>

</div>

		<div class="row">
			<hr>
			<footer>
				<p>&copy; developped by devitito</p>
			</footer>
		</div>
</div>
