.btn-meteo { 
  color: #FFFFFF; 
  background-color: #00ADEF; 
  border-color: #00ADEF; 
} 
 
.btn-meteo:hover, 
.btn-meteo:focus, 
.btn-meteo:active, 
.btn-meteo.active, 
.open .dropdown-toggle.btn-meteo { 
  color: #FFFFFF; 
  background-color: #009bd6; 
  border-color: #00ADEF; 
} 
 
.btn-meteo:active, 
.btn-meteo.active, 
.open .dropdown-toggle.btn-meteo { 
  background-image: none; 
} 
 
.btn-meteo.disabled, 
.btn-meteo[disabled], 
fieldset[disabled] .btn-meteo, 
.btn-meteo.disabled:hover, 
.btn-meteo[disabled]:hover, 
fieldset[disabled] .btn-meteo:hover, 
.btn-meteo.disabled:focus, 
.btn-meteo[disabled]:focus, 
fieldset[disabled] .btn-meteo:focus, 
.btn-meteo.disabled:active, 
.btn-meteo[disabled]:active, 
fieldset[disabled] .btn-meteo:active, 
.btn-meteo.disabled.active, 
.btn-meteo[disabled].active, 
fieldset[disabled] .btn-meteo.active { 
  background-color: #00ADEF; 
  border-color: #00ADEF; 
} 
 
.btn-meteo .badge { 
  color: #00ADEF; 
  background-color: #FFFFFF; 
}

.loading-container {
    position: relative;
}
.loading-container .loading:before, .loading-container .loading:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;4
    min-height: 50px;
    min-width: 50px;
}
.loading-container .loading:before {
    background5color: white;
    opacity: 0.5;
}

@media all and (max-width: 991px) {
	.content .visible-desktop {display:none;}
	.content .visible-phone {display:block;}
}

@media all and (min-width: 992px) {
	.content .visible-desktop {display:block;}
	.content .visible-phone {display:none;}
}

.read {
	font-weight: normal;
}

.not-read {
	font-weight: bold;
}

.panel-statement {
  border-color: #ddd;
	margin-top: 5px;
	margin-right: 15px;
	margin-left: 15px;
}
.panel-statement > .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.panel-statement > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd;
}
.panel-statement > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333;
}
.panel-statement > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ddd;
}

.panel-love {
  border-color: #FF69B4;
	margin-top: 15px;
	margin-left: 0px;
}
.panel-love > .panel-heading {
  color: #f5f5f5;
  background-color: #FF69B4;
  border-color: #FF69B4;
	font-weight: bold;
}
.panel-love > .panel-body {
  color: #FF69B4;
	font-weight: bold;
	font-size: 20px;
}
.panel-love > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #FF69B4;
}
.panel-love > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333;
}
.panel-love > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #FF69B4;
}

.panel-health {
  border-color: #4169E1;
	margin-top: 15px;
	margin-left: 0px;
}
.panel-health > .panel-heading {
  color: #f5f5f5;
  background-color: #4169E1;
  border-color: #4169E1;
	font-weight: bold;
}
.panel-health > .panel-body {
  color: #4169E1;
	font-weight: bold;
	font-size: 20px;
}
.panel-health > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #4169E1;
}
.panel-health > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333;
}
.panel-health > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #4169E1;
}

.panel-money {
  border-color: #008000;
	margin-top: 15px;
	margin-left: 0px;
}
.panel-money > .panel-heading {
  color: #f5f5f5;
  background-color: #008000;
  border-color: #008000;
	font-weight: bold;
}
.panel-money > .panel-body {
  color: #008000;
	font-weight: bold;
	font-size: 20px;
}
.panel-money > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #008000;
}
.panel-money > .panel-heading .badge {
  color: #008000;
  background-color: #333;
}
.panel-money > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #008000;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #00ADEF;
}
