body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.btn-meteo { 
  color: #FFFFFF; 
  background-color: #00ADEF; 
  border-color: #00ADEF; 
} 
 
.btn-meteo:hover, 
.btn-meteo:focus, 
.btn-meteo:active, 
.btn-meteo.active, 
.open .dropdown-toggle.btn-meteo { 
  color: #FFFFFF; 
  background-color: #009bd6; 
  border-color: #00ADEF; 
} 
 
.btn-meteo:active, 
.btn-meteo.active, 
.open .dropdown-toggle.btn-meteo { 
  background-image: none; 
} 
 
.btn-meteo.disabled, 
.btn-meteo[disabled], 
fieldset[disabled] .btn-meteo, 
.btn-meteo.disabled:hover, 
.btn-meteo[disabled]:hover, 
fieldset[disabled] .btn-meteo:hover, 
.btn-meteo.disabled:focus, 
.btn-meteo[disabled]:focus, 
fieldset[disabled] .btn-meteo:focus, 
.btn-meteo.disabled:active, 
.btn-meteo[disabled]:active, 
fieldset[disabled] .btn-meteo:active, 
.btn-meteo.disabled.active, 
.btn-meteo[disabled].active, 
fieldset[disabled] .btn-meteo.active { 
  background-color: #00ADEF; 
  border-color: #00ADEF; 
} 
 
.btn-meteo .badge { 
  color: #00ADEF; 
  background-color: #FFFFFF; 
}

.btn-mindmeteo-inverse {
  color: #00ADEF;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
	text-transform: uppercase;
}

.btn-mindmeteo-inverse:hover,
.btn-mindmeteo-inverse:focus,
.btn-mindmeteo-inverse:active,
.btn-mindmeteo-inverse.active,
.open .dropdown-toggle.btn-mindmeteo-inverse {
  color: #FFFFFF;
  background-color: #00ADEF;
  border-color: #FFFFFF;
	text-transform: uppercase;
}

.btn-mindmeteo-inverse:active,
.btn-mindmeteo-inverse.active,
.open .dropdown-toggle.btn-mindmeteo-inverse {
  background-image: none;
	text-transform: uppercase;
}

.btn-mindmeteo-inverse.disabled,
.btn-mindmeteo-inverse[disabled],
fieldset[disabled] .btn-mindmeteo-inverse,
.btn-mindmeteo-inverse.disabled:hover,
.btn-mindmeteo-inverse[disabled]:hover,
fieldset[disabled] .btn-mindmeteo-inverse:hover,
.btn-mindmeteo-inverse.disabled:focus,
.btn-mindmeteo-inverse[disabled]:focus,
fieldset[disabled] .btn-mindmeteo-inverse:focus,
.btn-mindmeteo-inverse.disabled:active,
.btn-mindmeteo-inverse[disabled]:active,
fieldset[disabled] .btn-mindmeteo-inverse:active,
.btn-mindmeteo-inverse.disabled.active,
.btn-mindmeteo-inverse[disabled].active,
fieldset[disabled] .btn-mindmeteo-inverse.active {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
	text-transform: uppercase;
}

.btn-mindmeteo-inverse .badge {
  color: #FFFFFF;
  background-color: #00ADEF;
	text-transform: uppercase;
}

.navbar-landing {
    font-size: 14px;
    background-color: #fff;
    border-width: 0px;
    border-radius: 0px;
}

div.container a.brand {
    background: url("/images/bluebubble-regular.png") no-repeat scroll 0 7px transparent;
    margin-left: 0;
    padding: 8px 25px 34px 25px;
}

.loading-container {
    position: relative;
}
.loading-container .loading:before, .loading-container .loading:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;4
    min-height: 50px;
    min-width: 50px;
}
.loading-container .loading:before {
    background5color: white;
    opacity: 0.5;
}

@media all and (max-width: 991px) {
	.content .visible-desktop {display:none;}
	.content .visible-phone {display:block;}
}

@media all and (min-width: 992px) {
	.content .visible-desktop {display:block;}
	.content .visible-phone {display:none;}
}

.read {
	font-weight: normal;
}

.not-read {
	font-weight: bold;
}

.panel-statement {
  border-color: #ddd;
	margin-top: 5px;
	margin-right: 15px;
	margin-left: 15px;
}
.panel-statement > .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.panel-statement > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd;
}
.panel-statement > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333;
}
.panel-statement > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ddd;
}

.panel-love {
  border-color: #FF69B4;
	margin-top: 15px;
	margin-left: 0px;
}
.panel-love > .panel-heading {
  color: #f5f5f5;
  background-color: #FF69B4;
  border-color: #FF69B4;
	font-weight: bold;
}
.panel-love > .panel-body {
  color: #FF69B4;
	font-weight: bold;
	font-size: 20px;
}
.panel-love > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #FF69B4;
}
.panel-love > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333;
}
.panel-love > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #FF69B4;
}

.panel-health {
  border-color: #4169E1;
	margin-top: 15px;
	margin-left: 0px;
}
.panel-health > .panel-heading {
  color: #f5f5f5;
  background-color: #4169E1;
  border-color: #4169E1;
	font-weight: bold;
}
.panel-health > .panel-body {
  color: #4169E1;
	font-weight: bold;
	font-size: 20px;
}
.panel-health > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #4169E1;
}
.panel-health > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333;
}
.panel-health > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #4169E1;
}

.panel-money {
  border-color: #008000;
	margin-top: 15px;
	margin-left: 0px;
}
.panel-money > .panel-heading {
  color: #f5f5f5;
  background-color: #008000;
  border-color: #008000;
	font-weight: bold;
}
.panel-money > .panel-body {
  color: #008000;
	font-weight: bold;
	font-size: 20px;
}
.panel-money > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #008000;
}
.panel-money > .panel-heading .badge {
  color: #008000;
  background-color: #333;
}
.panel-money > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #008000;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #00ADEF;
}

.navbar-landing {
    font-size: 14px;
    background-color: rgba(255, 255, 255, 1);
    border-width: 0px;
    border-radius: 0px;
}

.navbar-landing .navbar-toggle {
    border-color: #ddd;
}
.navbar-landing .navbar-toggle:hover,
.navbar-landing .navbar-toggle:focus {
    background-color: #ddd;
}
.navbar-landing .navbar-toggle .icon-bar {
    background-color: #888;
}
.navbar-landing .navbar-toggle:hover .icon-bar,
.navbar-landing .navbar-toggle:focus .icon-bar {
    background-color: #888;
}

.intro {
		display: table;
    height: 100vh;
    padding: 0 0 0 0;
	}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.content-section {
    padding-top: 15%;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #00ADEF;
    border-radius: 35px;
    font-size: 40px;
    color: #00ADEF;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.landing-anchor {
	padding-top: 10%;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    background: #00ADEF;
    color: #fff;
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

.mood-chart {
		height:400px;
		width:105%;
		margin-left:-25px;
}

/* Large devices */
@media (min-width: 768px) {
    .vertical-align {
        display: flex;
        align-items: center;
    }

	.intro {
    width: 100%;
    /*height: auto;*/
    padding: 100px 0 100px;
    text-align: center;
	}
}

@media (max-width: 767px) {
	.featurette-image {
		display:none;
	}

	.intro h1 {
		font-size: 22px;
	}

	.intro h2 {
		font-size: 16px;
		margin-bottom: 5px;
		margin-top: 5px;
	}

	.intro img {
		height: 175px;
		width: auto;
	}
}

@media (max-width: 359px) {
	.featurette-image {
		display:none;
	}

	.intro .intro-body {
    display: table-cell;
    vertical-align: top;
	}

	.intro h1 {
		font-size: 22px;
	}

	.intro h2 {
		font-size: 16px;
		margin-bottom: 5px;
		margin-top: 5px;
	}

	.intro img {
		height: 175px;
		width: auto;
	}

	.intro .btn-lg,
	.intro .btn-group-lg > .btn {
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		border-radius: 4px;
	}

	.landing-anchor {
		padding-top: 0;
	}

	.btn-circle {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    font-size: 25px;
	}

	.mood-chart {
		height:300px;
		width:105%;
		margin-left:-25px;
	}
}

.spinner {
	padding-top: 10px;
	position: relative;
	left: 50%;
	top: 40px;
}

.homepage-title {
	font-family: 'Gloria Hallelujah', cursive;
}

.statement-wrapper .statement.row-fluid {
  height: 70px;
}

.statement-wrapper .statement h2 {
  font-size: 16px;
  font-weight: bold;
  color: #444;
  padding: 0;
  line-height: 20px;
  margin-top: 10px;
	text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.statement-wrapper .statement small {
  color: #aaa;
  font-size: 12px;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.statement-wrapper .statement span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
	display: block;
}

.row-fluid [class*="span"] {
	display:block;
	float:left;
	width:100%;
	min-height:28px;
	margin-left:2.127659574%;
	*margin-left:2.0744680846382977%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}

.row-fluid [class*="span"]:first-child{
	margin-left:0
}

.row-fluid .span12{
	width:99.99999998999999%;
	*width:99.94680850063828%
}

.row-fluid .span11{
	width:91.489361693%;
	*width:91.4361702036383%
}

.row-fluid .span10{
	width:82.97872339599999%;
	*width:82.92553190663828%
}

.row-fluid .span9{
	width:74.468085099%;
	*width:74.4148936096383%
}

.row-fluid .span8{
	width:65.95744680199999%;
	*width:65.90425531263828%
}

.row-fluid .span7{
	width:57.446808505%;
	*width:57.3936170156383%
}

.row-fluid .span6{
	width:48.93617020799999%;
	*width:48.88297871863829%
}

.row-fluid .span5{
	width:40.425531911%;
	*width:40.3723404216383%
}

.row-fluid .span4{
	width:31.914893614%;
	*width:31.8617021246383%
}

.row-fluid .span3{
	width:23.404255317%;
	*width:23.3510638276383%
}

.row-fluid .span2{
	width:14.89361702%;
	*width:14.8404255306383%
}

.row-fluid .span1{
	width:6.382978723%;
	*width:6.329787233638298%
}

.content-center {
	text-align: center;
}

.table-statement {
	margin-top: 5px;
	border-collapse: separate;
}

.table-statement>thead>tr>th,
.table-statement>tbody>tr>th,
.table-statement>tfoot>tr>th,
.table-statement>thead>tr>td,
.table-statement>tbody>tr>td,
.table-statement>tfoot>tr>td {
	border: 1px solid transparent;
}

.table-statement thead {
	 display: none;
}

.table-statement > tbody > tr > td:hover,
.table-statement > tbody > tr > th:hover,
.table-statement > tbody > tr:hover > td,
.table-statement > tbody > tr:hover,
.table-statement > tbody > tr:hover > th {
  border: 1px solid #00ADEF;
	background-color: white;
}

.statement-wrapper .statement .statement-picture img {
	height: 50px;
	width: 50px;
	margin: 17px;
}
