.statement-wrapper .statement.row-fluid {
  height: 70px;
}

.statement-wrapper .statement h2 {
  font-size: 16px;
  font-weight: bold;
  color: #444;
  padding: 0;
  line-height: 20px;
  margin-top: 30px;
	text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.statement-wrapper .statement small {
  color: #aaa;
  font-size: 12px;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.statement-wrapper .statement span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
	display: block;
}

.statement .statement-info {
    margin-top: 23px;
    height: 50px;
    position: relative;
}

.row-fluid [class*="span"] {
	display:block;
	float:left;
	width:100%;
	min-height:28px;
	margin-left:2.127659574%;
	*margin-left:2.0744680846382977%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}

.row-fluid [class*="span"]:first-child{
	margin-left:0
}

.row-fluid .span12{
	width:99.99999998999999%;
	*width:99.94680850063828%
}

.row-fluid .span11{
	width:91.489361693%;
	*width:91.4361702036383%
}

.row-fluid .span10{
	width:82.97872339599999%;
	*width:82.92553190663828%
}

.row-fluid .span9{
	width:74.468085099%;
	*width:74.4148936096383%
}

.row-fluid .span8{
	width:65.95744680199999%;
	*width:65.90425531263828%
}

.row-fluid .span7{
	width:57.446808505%;
	*width:57.3936170156383%
}

.row-fluid .span6{
	width:48.93617020799999%;
	*width:48.88297871863829%
}

.row-fluid .span5{
	width:40.425531911%;
	*width:40.3723404216383%
}

.row-fluid .span4{
	width:31.914893614%;
	*width:31.8617021246383%
}

.row-fluid .span3{
	width:23.404255317%;
	*width:23.3510638276383%
}

.row-fluid .span2{
	width:14.89361702%;
	*width:14.8404255306383%
}

.row-fluid .span1{
	width:6.382978723%;
	*width:6.329787233638298%
}

.content-center {
	text-align: center;
}

.table-statement {
  margin-top: 5px;
  border-collapse: separate;
  width: 93%;
  margin-left: 3.5%;
}

.table-statement>thead>tr>th,
.table-statement>tbody>tr>th,
.table-statement>tfoot>tr>th,
.table-statement>thead>tr>td,
.table-statement>tbody>tr>td,
.table-statement>tfoot>tr>td {
	border: 1px solid transparent;
    padding: 0;
}

.table-statement thead {
	 display: none;
}

.table-statement > tbody > tr > td:hover,
.table-statement > tbody > tr > th:hover,
.table-statement > tbody > tr:hover > td,
.table-statement > tbody > tr:hover,
.table-statement > tbody > tr:hover > th {
  border: 1px solid #00ADEF;
	background-color: white;
}

.statement-wrapper .statement .statement-picture img {
	height: 50px;
	width: 50px;
	margin: 17px;
}

.emocicones {
	font-weight: bold;
	font-size: 20px;
	margin-top: 25px;
}

.panel-statement {
  border-color: #ddd;
	margin-top: 5px;
	margin-right: 15px;
	margin-left: 15px;
}

.panel-statement > .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.panel-statement > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd;
}
.panel-statement > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333;
}
.panel-statement > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ddd;
}

@media (max-width: 629px) {
	.row-fluid .span6,
	.row-fluid .span7,
	.row-fluid .span8,
	.row-fluid .span9,
	.row-fluid .span10,
	.row-fluid .span11,
	.row-fluid .span12
	{
		width:99.99999998999999%;
		*width:99.94680850063828%
	}

	.row-fluid .span5{
		width:82.97872339599999%;
		*width:82.97872339599999%;
	}

	.row-fluid .span4{
		width:65.95744680199999%;
		*width:65.95744680199999%;
	}

	.row-fluid .span3{
		width:48.93617020799999%;
		*width:48.93617020799999%;
	}

	.row-fluid .span2{
		width:31.914893614%;
		*width:31.914893614%;
	}

	.row-fluid .span1{
		width:14.89361702%;
		*width:14.89361702%;
	}

  .panel-statement {
    border-color: #ddd;
	margin-top: 5px;
	margin-right: 2px;
	margin-left: 2px;
  }
}
