<div ng-include src="'assets/templates/welcome/partials/navbar-logged-out.html'"></div>
<br>

<div class="container">

	<div ng-show="error" class="alert alert-danger" role="alert">
		{{error}}
	</div>

	<div class="row">
    	<div class="col-md-4">
        </div>
        <div class="col-md-4">
        	<table class="table table-bordered">
				<tr><th style="background: #00ADEF;	color: #FFFFFF; ">Sign in</th></tr>
				<tr>
					<td>
        				<form accept-charset="UTF-8">
        					<label>Mind name or email</label>
        					<div class="form-group">
        						<input name="nameoremail" type="text" class="form-control input-lg" placeholder="Name or email" ng-model="nameoremail">
        					</div>

        					<label>Password</label>
        					<div class="form-group">
        						<input name="password" type="password" class="form-control input-lg" placeholder="Your password" ng-model="password">
        					</div>

									<button ng-click="new()" class="btn btn-meteo" >Sign in</button>
        				</form>
        			</td>
				</tr>
			</table>
        </div>
		<div class="col-md-4">
		</div>
	</div>
</div>
