	<br>
	<button ng-click="recover();" class="btn btn-meteo">Recreate all indexes</button><span>{{result}}</span>
	<hr>
			<div class="panel panel-default">
  			<div class="panel-heading">node-dev-ubuntu-1404</div>
				<table class="table">
					<tr>
						<th>Service</th>
						<th>Version</th>
						<th>Status</th>
					</tr>
					<tr>
						<td>Nginx</td>
						<td>1.4.6</td>
						<td><font color="green">Running</font></td>
					</tr>
					<tr>
						<td>MySQL</td>
						<td>5.5</td>
						<td><font color="green">Running</font></td>
					</tr>
					<tr>
						<td>Elasticsearch</td>
						<td>1.3.4</td>
						<td><font color="green">Running</font></td>
					</tr>
					<tr>
						<td>AWS Codedeploy-agent</td>
						<td>0.91</td>
						<td><font color="green">Running</font></td>
					</tr>
				</table>
			</div>
