<div class="col-lg-10">
	<br>
	<section id="search_container" class="active">
		<form novalidate="novalidate" id="blog_search" role="search" ng-submit="doFilter()">
			<div class="blog_search-wrapper">
				<input id="s" name="s" class="form-control input-lg search_term valid" placeholder="search" type="text"
						autocomplete="off"
						ng-model="filterTxt"
						ng-keyup="suggest($event)">
				<ul id="results" style="display: block;" ng-show="suggestions.length">
					<li ng-repeat="suggestion in suggestions"><a class="selected" href="administrator#/sensors/edit/{{suggestion.id}}">
						<h4><span><strong>{{suggestion.topic}} </strong></span>» {{suggestion.label}}</h4>
					</a></li>
				</ul>
			</div>
		</form>
	</section>
	<div class="clearfix"></div>
    <div loading-container="tableParams.settings().$loading">
		<table ng-table="tableParams" class="table table-hover">
	        <tr class="clickable" ng-repeat="sensor in $data" ng-click="go('/sensors/edit/'+sensor.id)">
	            <td data-title="'Label'" style="with:20%;">
	                <span>{{sensor.label}}</span>
	            </td>
	         	<td data-title="'Positive Sample'">
	                <span>{{sensor.samples[0].label}}</span>
	            </td>
	            <td data-title="'Pos. Sample val.'">
	                <span>{{sensor.samples[0].value}}</span>
	            </td>
	            <td data-title="'Negative Sample'">
	                <span>{{sensor.samples[1].label}}</span>
	            </td>
	             <td data-title="'Neg. Sample val.'">
	                <span>{{sensor.samples[1].value}}</span>
	            </td>
	            <td data-title="'Topic'">
	                <span>{{sensor.topic}}</span>
	            </td>
	            <td data-title="'Meteologist'">
	                <span>{{sensor.meteologist}}</span>
	            </td>
	            <td data-title="'Status'">
	                <span>{{sensor.status}}</span>
	            </td>
	            <!-- td data-title="'Actions'">
	                <a ng-if="!sensor.$edit" href="" class="btn btn-default btn-xs" ng-click="sensor.$edit = true">Edit</a>
	                <a ng-if="sensor.$edit" href="" class="btn btn-primary btn-xs" ng-click="update($index)">Save</a>
	            </td-->
	        </tr>
	    </table>
    </div>
</div>
