<div ng-controller="adminNavBarCtrl" ng-include src="'js/admin/partials/admin/navbar-admin.html'"></div>
<div class="row content">
	<div class="col-lg-2 col-md-2 visible-desktop">
		<ul class="nav nav-pills nav-stacked" ng-include src="'js/admin/partials/admin/admin-menu.html'"></ul>
	</div>
	<div class="visible-phone">
		<ul class="nav nav-pills" ng-include src="'js/admin/partials/admin/admin-menu.html'"></ul>
	</div>
	<div class="col-lg-10 col-md-10">


		<br>
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Sensor per topic</div>
					<div class="panel-body">
						<div ng-hide="errors" google-chart chart="sensorPerTopic" style="height:300px;"></div>
						<div ng-show="errors" style="height:300px;">{{errors}}</div>
					</div>
				</div>
			</div>
		</div>
		<!-- div class="row">
			<div class="col-lg-6">
				<div class="thumbnail" style="height:300px;">Most popular test</div>
				<p></p>
			</div>
			<div class="col-lg-6">
				<div class="thumbnail" style="height:300px;">Most skipped test</div>
				<p></p>
			</div>
		</div-->
		<div class="row">
			<div class="col-lg-6">
				<div class="panel panel-default">
					<div class="panel-heading">Most popular hours of the day to complete test</div>
					<div class="panel-body">
						<div ng-hide="errors" google-chart chart="testPerHour" style="height:300px;"></div>
						<div ng-show="errors" style="height:300px;">{{errors}}</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="panel panel-default">
					<div class="panel-heading">Number of test completed per day of the week</div>
					<div class="panel-body">
							<div ng-hide="errors" google-chart chart="testPerDay" style="height:300px;"></div>
						<div ng-show="errors" style="height:300px;">{{errors}}</div>
					</div>
				</div>
			</div>
		</div>


	</div>
</div>
