<div class="col-lg-10">
	 <form class="form-horizontal" novalidate name="newMindForm" autocomplete="off">
		<h1>Create a new mind</h1>
			<div class="from-group row" ng-class="{'has-error': newMindForm.$dirty && newMindForm.name.$invalid, 'has-success': newMindForm.name.$valid}">
				<div class="row">
					<div class="col-lg-5">
						<label class="control-label">Name : </label>
						<input class="form-control input-lg" id="name"name="name" type="text" required
							ng-maxlength="10"
							ng-pattern="/^[a-zA-Z0-9-]+$/i"
							ng-unique="name"
							ng-model="mind.name">
						</input>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-5">
			       	 	<span class="text-danger" ng-show="newMindForm.name.$error.maxlength">Too long</span>
			       	 	<span class="text-danger" ng-show="newMindForm.name.$error.pattern">The mind name can consist of alphanumerical characters and dash only</span>
			       	 	<span class="text-danger" ng-show="newMindForm.name.$error.unique">Mind already exist</span>
			        </div>
                </div>
			</div>
			<div class="from-group row" ng-class="{'has-error': newMindForm.$dirty && newMindForm.email.$invalid, 'has-success': newMindForm.email.$valid}">
				<div class="row">
					<div class="col-lg-5">
						<label class="control-label">Email : </label>
						<input class="form-control input-lg" id="email" name="email" type="email" required
								ng-maxlength="32"
								ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
								ng-unique="email"
								ng-model="mind.email"></input>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-5">
							<span class="text-danger" ng-show="newMindForm.email.$error.maxlength">Too long</span>
							<span class="text-danger" ng-show="newMindForm.email.$error.email">Valid email required</span>
							<span class="text-danger" ng-show="newMindForm.email.$error.pattern">Not a valid email</span>
							<span class="text-danger" ng-show="newMindForm.email.$error.unique">This email already exist</span>
					</div>
				</div>
			</div>
			<div class="from-group row" ng-class="{'has-error': newMindForm.$dirty && newMindForm.password.$invalid, 'has-success': newMindForm.password.$valid}">
				<div class="row">
					<div class="col-lg-5">
						<label class="control-label" for="password1">Password : </label>
						<input class="form-control input-lg" id="password" name="password" type="password" required ng-minlength="8" ng-maxlength="12" ng-model="mind.password"></input>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-5">
						<span class="text-danger" ng-show="newMindForm.password.$error.minlength">Too short</span>
						<span class="text-danger" ng-show="newMindForm.password.$error.maxlength">Too long</span>
					</div>
				</div>
			</div>
			<div class="from-group row" ng-class="{'has-error': newMindForm.$dirty && newMindForm.confirmedpassword.$invalid, 'has-success': newMindForm.confirmedpassword.$valid}">
				<div class="row">
					<div class="col-lg-5">
						<label class="control-label" for="confirmedpassword">Retype password : </label>
						<input class="form-control input-lg" id="confirmedpassword" name="confirmedpassword" type="password" required
								equals-to="newMindForm.password"
								ng-model="confirmedpassword"></input>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-5">
						<span class="text-danger" ng-show="!newMindForm.confirmedpassword.$error.required && newMindForm.confirmedpassword.$error.equalsTo">Passwords are differents</span>
					</div>
				</div>
			</div>
			<div class="from-group row" ng-class="{'has-error': newMindForm.$dirty && newMindForm.role.$invalid, 'has-success': newMindForm.role.$valid}">
				<div class="row">
					<div class="col-lg-5">
						<label class="control-label" for="role">Role : </label>
						<select class="form-control input-lg" id="role" name="role" required ng-model="mind.role" ng-options="role.code as role.name for role in roles"></select>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-5">
					</div>
				</div>
			</div>
			<div class="from-group row" ng-class="{'has-error': newMindForm.$dirty && newMindForm.locale.$invalid, 'has-success': newMindForm.locale.$valid}">
				<div class="row">
					<div class="col-lg-5">
						<label class="control-label" for="locale">Language : </label>
						<select class="form-control input-lg" id="locale" name="locale" required ng-model="mind.locale" ng-options="lang.code as lang.name for lang in langs"></select>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-5">
					</div>
				</div>
			</div>
			<div class="from-group row" ng-class="{'has-error': newMindForm.$dirty && newMindForm.timezone.$invalid, 'has-success': newMindForm.timezone.$valid}">
				<div class="row">
					<div class="col-lg-5">
						<label class="control-label" for="timezone">Timezone : </label>
						<select class="form-control input-lg" id="timezone" name="timezone" required ng-model="mind.timezone" ng-options="timezone for timezone in timezones"></select>
					</div>
				</div>
			</div>
		<br>
		<div class="form-group">
			<button ng-click="go('/minds')" class="btn btn-default">Cancel</button>
			<button ng-click="create()" class="btn btn-meteo" ng-disabled="newMindForm.$invalid">Create</button>
		</div>
	</form>
</div>
